*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(Images/1.JPG);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;

}
.navLinks{
    flex: 1;
    text-align: right;
}
.navLinks ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navLinks ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.navLinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navLinks ul li:hover::after{
    width: 100%;
}
.textBox{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
,.textBox h1{
    font-size: 62px;

}
.textBox p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;

}
.HB{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.HB:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .textBox h1{
        font-size: 20px;
    }
    .navLinks ul li{
        display: block;
    }
    .navLinks{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .navLinks ul{
        padding: 30px;
    }
}




/* COURSE */


.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.courseCol{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.courseCol:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}


/* Footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336 ;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}




/* About Us */

.subHeader{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(Images/3.JPG);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.subHeader h1{
    margin-top: 100px;
}
.aboutUs{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.aboutCol{
    flex-basis: 48%;
    padding: 30px 2px;
}
.aboutCol img{
    width: 100%;
}
.aboutCol h1{
    padding-top: 0;
}
.aboutCol p{
    padding: 15px 0 25px;
}
.HB1{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.HB1:hover{
    color: #fff;
}
/* Contact Us */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contactUs{
    width: 80%;
    margin: auto;
}
.contactCol{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contactCol div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contactCol div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contactCol div p{
    padding: 0;
}
.contactCol div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contactCol input, .contactCol textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
